/BeRoad.dproj.local
*.identcache
/ModelSupport_BeRoad/BeRoad
/ModelSupport_BeRoad/UTouchPoint
/ModelSupport_BeRoad/*.txaPackage
/ModelSupport_BeRoad/*.txvpck
/ModelSupport_BeRoad/*.tvsconfig
/ModelSupport_BeRoad/uBeColumn/*.txaPackage
/ModelSupport_BeRoad/uBeColumn/*.txvpck
/ModelSupport_BeRoad/uBeColumn/*.tvsconfig
/ModelSupport_BeRoad/uBeImage/*.txaPackage
/ModelSupport_BeRoad/uBeImage/*.txvpck
/ModelSupport_BeRoad/uBeImage/*.tvsconfig
/ModelSupport_BeRoad/uDrawContext/*.txaPackage
/ModelSupport_BeRoad/uMain/*.txaPackage
/Win32/Debug
/Win32/Release
/__history
*.dcu
/bin/Debug/*.exe
/bin
/nativexml/docu/NativeXml.zip
